In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("q5/dkcup_test")

In [3]:
query = """select user_id, ltrim(substr(min(date), 6, 2), '0') || "/" || ltrim(substr(min(date),9,2), '0')  || "/" || ltrim(substr(min(date), 3,2), '0') as start_date, ltrim(substr(max(date), 6, 2), '0') || "/" || ltrim(substr(max(date),9,2), '0')  || "/" || ltrim(substr(max(date), 3,2), '0') as end_date, log as status, count(*) as length from (select users_log_id.*,(row_number() over (order by id) - row_number() over (partition by log order by id)) as grp from (select *, row_number() over () as id from users_log) as users_log_id ) users_log_id group by grp, log, user_id ORDER BY min(date), user_id;"""
df = pd.read_sql_query(query, con)

In [4]:
df.head()

   user_id start_date end_date  status  length
0    51725     1/1/19   1/1/19       1       1
1   116054     1/1/19   1/1/19       0       1
2   140223     1/1/19   1/2/19       1       2
3   275100     1/1/19   1/2/19       0       2
4   313779     1/1/19   1/3/19       1       3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     893 non-null    int64
 1   start_date  893 non-null    object
 2   end_date    893 non-null    object
 3   status      893 non-null    int64
 4   length      893 non-null    int64
dtypes: int64(3), object(2)
memory usage: 35.0+ KB

In [6]:
df_ans = pd.read_csv('q5/answer_test_db_users.csv')

In [7]:
df_ans.head()

   user_id start_date end_date  status  length
0    51725     1/1/19   1/1/19       1       1
1   116054     1/1/19   1/1/19       0       1
2   140223     1/1/19   1/2/19       1       2
3   275100     1/1/19   1/2/19       0       2
4   313779     1/1/19   1/3/19       1       3

In [8]:
df_ans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     893 non-null    int64
 1   start_date  893 non-null    object
 2   end_date    893 non-null    object
 3   status      893 non-null    int64
 4   length      893 non-null    int64
dtypes: int64(3), object(2)
memory usage: 35.0+ KB

In [9]:
df.equals(df_ans)

True